body {
    margin-top: 200px;
    font-family: 'Sometype Mono', monospace;
}

.card  {
    background-color: rgb(232, 235, 235);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 120px;
}



#btnGenerator:hover  {
    background-color: rgb(235, 238, 231);
    padding: 10px 50px;
    transition: 480ms;
}

#btnCleaer:hover {
        background-color: rgb(235, 238, 231);
    padding: 10px 50px;
     transition: 580ms; 
}

