.game-card {
    height: 60vh;
    font-family: 'Open Sans', monospace;
}



  .btn-group {
    justify-content: center;
    width: 400px;
}  

  .container {
    margin-right: 300px;
    margin-left: -100px;
    
}  

.card-body {
    background-color: rgb(228, 220, 220);
   
}  

.card-header {
    background-color: rgb(211, 204, 204);
    border: 1px solid rgb(183, 197, 224) ;
}

.card-footer {
    background-color: rgba(221, 210, 210, 0.925);
   
    
}

#menu{
    width: 700px;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 300px;
}
 #mainMenu {
    width: 700px;
    margin-left: 300px;
} 

